name: Deploy Infra + App

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3

      - run: terraform init
        working-directory: infra

      - run: terraform apply -auto-approve
        working-directory: infra

      - run: docker build -t app .

      - run: docker push ECR_URL
